		<h1>/<%=h @board_info.shortcode %>/ &mdash; <%=h @board_info.name %></h1>
		<% if @board_info.description != nil %>
			<p><%=h @board_info.description %></p>
		<% end %>
		
		<% if flash[:notice] %>
			<div class="flash">
				<p><%=h flash[:notice] %></p>
			</div>
		<% end %>
		
		<% for topic in @topics %>
		<% topic.username = DEFAULT_NAME if topic.username == '' %>
			<div class="post">
				<h2>
					<em>
					<%	if topic.email != '' %>
						<a href="mailto:<%=h topic.email %>"><%=h topic.username %></a>
					<% else %>		
						<%=h topic.username %>
					<% end %>
					</em>
					 <%=h topic.created_at.strftime('%m/%d/%y(%a)%H:%M:%S') %> No.<%=h topic.id %> <%= link_to "[Reply]", :controller => "topics", :action => "show", :id => topic.id %></h2>
				<img src="/images/post_temp.jpg" alt="<%=h topic.id %>" class="postImage" />
				<p><%=h topic.comment %></p>
			</div>
		<% end %>
			
			<div class="create_post">
				<h2>Post a new thread</h2>
					<%= error_messages_for :post -%>

					<% form_for :post, :url => {:controller => 'topics', :action => 'create'} do |form| %>
						<%= form.label :username %>
						<%= form.text_field :username, :size => 25, :class => 'textbox' %>

						<br/>

						<%= form.label :email %>
						<%= form.text_field :email, :size => 25, :class => 'textbox' %>

						<br/>
						
						<%= form.label :attachment %>
						<%= file_field('attachment', 'attachment', :class => 'textinput') %>

						<br/>

						<%= form.label :subject %>
						<%= form.text_field :subject, :size => 40, :class => 'textbox' %>

						<br/>

						<%= form.label :comment %>
						<%= form.text_area :comment, :rows => 4, :columns => 48, :class => 'textbox' %>

						<br/>

						<%= submit_tag 'post new thread', :class => 'submit' %>
					<% end %>
			</div>